<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>   

 
<table width="400px" border=double>
 
    <tr style='text-align:left; background-color:#CCC; font-size:15px;'>
        
        <th>STR_NUMBER</th>
        <th>NAME</th>
        <th>PRACTICE<br>PLACE</th>
        <th>COMPETENCE</th>
        <th>CITY</th>
        <th>URL_PHOTO</th>
    </tr>
    
    <!--
        Using FOREACH LOOP for the users array
        
        myArray.forEach(function(el, index) {
            // el - current element, i - index
        });
    -->
    <% if (data) { i=1 %>
    <% data.forEach(function(user){ %>
        <tr style='font-size:11px;'>

            <td> 
                <input style='font-size:11px;' value="<%= user.STR_NUMBER %>" onclick="select_all(this)" size="22"  type="text" />
                
                <!-- p id="myInput<%= i %>"><%= user.STR_NUMBER %></p>
                <button onclick="myFunction(myInput<%= i %>)">Copy STR</button -->
            </td>
            <td>
                <input style='font-size:11px;' value="<%= user.NAME %>" onclick="select_all(this)" size="22"  type="text" />
                
            </td>
            <td><%= user.PRACTICE_PLACE %></td>
            <td><%= user.COMPETENCE %></td>
            <td><%= user.CITY %></td>
            <td><a target="_blank" href="<%= user.URL_PHOTO %>">URL PHOTO</a></td>

            <!--td>
                <div style="float:left">
                    <a href='/users/edit/<%= user.id %>'>Edit</a> &nbsp;                            
                    <form method="post" action="/users/delete/<%= user.id %>" style="float:right">
                        <input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                        <input type="hidden" name="_method" value="DELETE" />
                    </form>
                </div>
            </td-->
        </tr>
    <% i++ }) %>
    <% } %>
 
</table>

<script>
function myFunction(id_name) {

  var copyText = document.getElementById(id_name.id);
  copyText.select();
  document.execCommand("copyText");
  alert("Copied the text: " + copyText);
}

function select_all(obj) {
    var text_val=eval(obj);
    text_val.focus();
    text_val.select();
    if (!r.execCommand) return; // feature detection
        r = text_val.createTextRange();
        r.execCommand('copy');
    }




</script>

 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>