<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 
<form action="/users/search" method="post" name="form1">
    <table width="100%" border="0">
        <tr> 
            <td>Name</td>
            <td><input type="text" name="name_input" id="name" value="" /></td>
        </tr>

        <tr> 
            <td>STR Number</td>
            <td><input type="text" name="str_number_input" id="str_number" value="" /></td>
        </tr>

        <tr>
            <td>Competence</td>
            <td>
                 <select name="competence_value_input">
                  <% if (the_competences) { i=1 %>
                    <% the_competences.forEach(function(user){ %>
                        

                        <% if(user.COMPETENCE == ''){ %>
                            <option value=''><%= '-' %></option> 
                        <% } else if(user.COMPETENCE.substring(8) == ''){ %>
                            <option value='Dokter Ummum'><%= 'Dokter Ummum' %></option> 
                        <% } else {  %>
                            <option value="<%= user.COMPETENCE.substring(8) %>"><%= user.COMPETENCE %></option>
                        <% } %>

                        
                        
                    <% }) %>
                    <% } %>
                </select> 
            </td>
        </tr>

        <tr>
            <td>City / District</td>
            <td>
                 <select name="city_district_input_1">
                  <% if (the_regencies) { i=1 %>
                    <% the_regencies.forEach(function(user){ %>
                        <% user.CITY.trim() %>

                        <% if(user.CITY.trim() == ''){ %>
                            <option value='-'><%= '-' %></option> 
                        <% } else if(user.CITY.trim().substring(0, 2) == 'KO'){ %>
                            <option value="<%= user.CITY.trim()  %>"><%= user.CITY.trim().substring(5) + ' - KOTA' %></option>
                        <% } else {  %>
                            <option value="<%= user.CITY.trim()  %>"><%= user.CITY.trim() %></option>
                        <% } %>



                        
                    <% }) %>
                    <% } %>
                </select> 
                
                OR

                <select name="city_district_input_2">
                  <% if (the_regencies) { i=1 %>
                    <% the_regencies.forEach(function(user){ %>
                        <% user.CITY.trim() %>

                        <% if(user.CITY.trim() == ''){ %>
                            <option value='-'><%= '-' %></option> 
                        <% } else if(user.CITY.trim().substring(0, 2) == 'KO'){ %>
                            <option value="<%= user.CITY.trim()  %>"><%= user.CITY.trim().substring(5) + ' - KOTA' %></option>
                        <% } else {  %>
                            <option value="<%= user.CITY.trim()  %>"><%= user.CITY.trim() %></option>
                        <% } %>



                        
                    <% }) %>
                    <% } %>
                </select> 

                OR

                <select name="city_district_input_3">
                  <% if (the_regencies) { i=1 %>
                    <% the_regencies.forEach(function(user){ %>
                        <% user.CITY.trim() %>

                        <% if(user.CITY.trim() == ''){ %>
                            <option value='-'><%= '-' %></option> 
                        <% } else if(user.CITY.trim().substring(0, 2) == 'KO'){ %>
                            <option value="<%= user.CITY.trim()  %>"><%= user.CITY.trim().substring(5) + ' - KOTA' %></option>
                        <% } else {  %>
                            <option value="<%= user.CITY.trim()  %>"><%= user.CITY.trim() %></option>
                        <% } %>



                        
                    <% }) %>
                    <% } %>
                </select> 

            </td>



            
        </tr>
        

        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Search" /></td>
        </tr>
    </table>
</form>


 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>